@font-face {
  font-family: 'Commissioner-Light';
  src: url('fonts/Commissioner-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Commissioner-Regular';
  src: url('fonts/Commissioner-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Commissioner-Bold';
  src: url('fonts/Commissioner-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Great-Vibes';
  src: url('fonts/GreatVibes-Regular.woff2') format('woff2');
}



:root{
  box-sizing: border-box;
  font-family: var(--font-comm-bold);

  --clr-green: #A6CEA8;
  --clr-green-light: #C2DEC4;
  --clr-green-light-bg: #E6F1E7;
  --clr-green-light-ultra: #DFEDE0;
  --clr-green-dark: #718C72;
  --clr-green-dark-ultra: #3C4A3C;
  --clr-blue: #0D6D74;
  --clr-blue-dark: #084448;

  --font-comm-bold: 'Commissioner-Bold', system-ui, 'sans-serif';
  --font-comm-light: 'Commissioner-Light', system-ui, 'sans-serif';
  --font-comm-regular: 'Commissioner-Regular', system-ui, 'sans-serif';
  --font-great-vibes: 'Great-Vibes', serif, system-ui;
}
a{
  text-decoration: none;
}

body{
  background-color: var(--clr-green-light-bg);
}
body section{
  
  & .text{
    font-size: 64px;
    color: var(--clr-green-dark);
    margin-left: 36px;
}
}



header{
  height: 72px;
  background-color: var(--clr-green);
  color: var(--clr-blue);
  overflow: hidden;

  display: flex;
  justify-content: space-around;


  & .logo-block{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;

    & .logo-img{
      height: 100%;
    }
    & .logo-text{
      font-family: var(--font-great-vibes);
      color: var(--clr-blue);
      font-size: 54px;
      text-wrap: nowrap;
      user-select: none;
    }
  }

  & .tabs{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;

    & .tab{
      display: flex;
      gap: 8px;
      font-size: 18px;
      color: var(--clr-green-dark-ultra);
      padding: 4px 8px;
      border-radius: 8px;
      cursor: pointer;

      & .icon::before{
        font-size: 36px;
      }
      & .tab-name{
        display: flex;
        align-items: center;
        user-select: none;
      }
    }
    & .tab:hover{
      background-color: var(--clr-green-light);
      box-shadow: 0 0 10px 2px white;
    }

  }

}

.sect-img{
  position: relative;

  & .big-img{
    width: 100%;
  }
  & .text-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    bottom: 60px;
    left: 60px;

    & .order-now{
      background-color: var(--clr-green-light-bg);
      color: var(--clr-green-dark-ultra);
      border: none;
      font-size: 40px;
      font-family: var(--font-comm-bold);
      border-radius: 32px;
      padding: 16px 32px;
      cursor: pointer;
    }
    & .order-now:hover{
      box-shadow: 0 0 10px 2px white;
    }
    & .text{
      color: var(--clr-green-light-bg);
      font-size: 40px;
    }
  }
}

.sect-cards{
  padding: 24px 0;

  & .offers{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin: 40px 8px;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.1) 100%);

    & .card{
      width: 380px;
      background-color: var(--clr-green-light-ultra);
      border-radius: 40px;
      margin: 0 auto;
      overflow: hidden;
  
      & .image{
        background-size: cover;
        background-position: center;
        height: 240px;
      }
      & .text-content{
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 16px;

        & .words{
          display: flex;
          flex-direction: column;
          gap: 8px;

          & .main-text{
            font-size: 32px;
            color: var(--clr-green-dark-ultra)
          }
          & .secondary-text{
            font-size: 16px;
            color: var(--clr-green-dark)
          }
        }
        & .numbers{
          display: flex;
          gap: calc(10vw - 88px);

          & .price{
            & .current{
              color: var(--clr-green-dark-ultra);
              font-size: 40px;

            }
            & .previous{
              color: var(--clr-green);
              font-size: 32px;
            }
          }
          & .order{
            border: 4px solid var(--clr-green-dark-ultra);
            border-radius: 8px;
            color: var(--clr-green-dark-ultra);
            background-color: rgba(255, 255, 255, 0);
            font-family: var(--font-comm-bold);
            padding: 4px 12px;
            align-self: center;
            cursor: pointer;
            font-size: 20px;
            transition: all 0.2s ease-out;

            display: flex;
            align-items: center;
            gap: 8px;

            & .icon{
              font-size: 1.7em;
            }
          }
          & .order:hover{
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

.sect-contact{
  padding: 24px;
  background-color: var(--clr-green-light);

  & .flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .img{
      height: 500px;
      margin: 40px;
    }

    & .contact-block{
      border: 2px solid var(--clr-blue-dark);
      border-radius: 2px;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding: 32px;

      & .form{
        display: flex;
        flex-direction: column;
        gap: 24px;

        & input{
          outline: none;
          border: none;
          border-bottom: 2px solid var(--clr-blue-dark);
          background-color: rgba(0, 0, 0, 0);
          padding: 8px 8px;
          width: 300px;
          font-size: 20px;
        }
        & .submit{
          background-color: var(--clr-green-light-bg);
          color: var(--clr-green-dark-ultra);
          border: none;
          font-size: 40px;
          font-family: var(--font-comm-bold);
          border-radius: 32px;
          padding: 8px 16px;
          cursor: pointer;
        }
        & .submit:hover{
          box-shadow: 0 0 10px 1px white;
        }
      }
      & .copy-info{
        display: flex;
        flex-direction: column;
        gap: 32px;
        font-size: 20px;
        font-family: var(--font-comm-regular);

        & .header{
          font-size: 24px;
          font-family: var(--font-comm-bold);
        }
        & .copy-button{
          position: relative;
          background-color: rgba(0, 0, 0, 0);
          border: 1px dashed var(--clr-blue-dark);
          border-radius: 2px;
          padding-bottom: 0;
          padding-top: 2px;
          margin: 0 8px;
          font-size: 20px;
          cursor: pointer;
        }
        & .copy-button:hover{
          background-color: var(--clr-green-dark);
        }
        & .copy-button.copied::before{
          content: 'Copied';
          position: absolute;
          font-size: 12px;
          bottom: -24px;
          background-color: var(--clr-green-dark-ultra);
          color: var(--clr-green);
          padding: 2px 4px;
          border-radius: 4px;
        }
      }
    }
  }
}